.territory-projects-page{
    .territory-consults-header{
        .ui.button{
            margin: 2em 0;
        }
    }
}

.territory-title{
    font-size: 3em !important;
    color: grey !important;
}