.territory-projects-page{
    .territory-consults-header{
        .ui.button{
            margin: 2em 0;
        }
    }
}

.territory-title{
    font-size: 2.5em !important;
    color: grey !important;
}

.territory-projects-header{
    padding: 2em 0em !important;

    .territory-name {
        font-size: 2.5em !important;
        margin-bottom: 0 !important;
    }

    .territory-label{
        color: grey;
        font-size: 1.7em !important;
        margin: 0 !important;
    }
}