.alternative-presentation{
  background-color: #ecf0f1;
}

.alternative-partial{
  text-align: left !important;
}

.alternative-partial-title{
  font-size: 1.4em;
}

.alternative-partial-dropdown{
  position: absolute !important;
  right: 10px;
  top: 0;
  cursor: pointer;
  z-index: 999;
}

.alternative-partial-menu{
  left: -60px !important;
}