.alternative-presentation{
  background-color: #ecf0f1;
}

.alternative-partial{
  text-align: left !important;
}

.alternative-partial-title{
  font-size: 1.4em;
}

.ui.icon.small.alternative-partial-signal-icon{
  position: absolute !important;
  right: 10px;
}

.alternative-partial-menu{
  left: -60px !important;
}