.footer {
    padding-bottom: 2em !important;
    margin: 5em 0 2em !important;
}

.footer-logo{
    position: absolute !important;
    top: -35px;
    right: -70px;

    @media screen and (max-width: 768px) {
        display: none !important;
    }
}

.footer-image{
    margin: 0 1em;
}

.footer-link{
    padding-bottom: 5px;
    &:hover{
        text-decoration: underline;
        color: #4183c4 !important;
    }
}

.footer-links{
    @media screen and (max-width: 768px) {
        text-align: center !important;
    }
}